body {
    background-color: antiquewhite;
    font-family: 'Courier New', 'Lucida Console', monospace;
}

h1 {
	font-size: 6em;
	margin-top: 1.1em;
}

form {
	font-size: 1.1em;
	padding-top: 7em;
	display: block;
}

body{
	text-align: center;
}

#emailaddress, #dob, #phonenum {
    display: block;
    margin: auto;
	font-size: 1.3em;
}

label{
	font-size: 2.3em
}

#submitbutton {
    font-size: 2.5em;
    margin-top: 1em;
    border-radius: 2em;
}

fieldset {
    border: 1em solid #554d4d;
    margin: 0 0.7em;
    padding: 0.35em 0.625em 0.75em;
    border-radius: 1.3em;
	line-height: 2.2;
}



